.urna {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
}

.painel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 1);
    width: 50%;
}

.tela {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    height: 80%;
}
.tela .top-tela{
    display: flex;
    justify-content: space-between;
}

.tela .top-tela .voto-sem-candidato{
    margin-left: 10px;
    align-self: center;
    font-size: 25px;
}

.tela .top-tela .foto{
    align-self: flex-end;
    width: 125px;
    height: 150px;
}

.tela .campo-numeros-escolhidos{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 15px 0px;
}

.tela .numero-candidato{
    display: flex;
    align-items: center;
    gap: 5px;
}

.tela .numero-candidato .block{
    padding: 10px;
    border: 1px solid black;
}

.hidden {
    visibility:hidden;
}

.comandos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 56, 56);
    width: 30%;
}

.comandos .digitos, .zero, .acoes{
    text-align: center;
    width: 85%;
}
 
.comandos .acoes button{
    text-align: center;
}

.comandos .btn-green{
    background-color: green;
    color: black;
}
.comandos .btn-green:active{
    background-color: rgb(0, 94, 0);
}

.comandos .btn-red{
    background-color: red;
    color:black
}
.comandos .btn-red:active{
    background-color: rgb(165, 8, 8);
    color:black
}

.comandos .btn-white{
    background-color: white;
    color: black;
}
.comandos .btn-white:active{
    background-color: rgb(190, 190, 190);
    color: black;
}


button {
    background-color: rgb(41, 40, 40);
    border: none;
    color: white;
    margin-bottom: 10px;
    margin-right: 3px;
    height: 30px;
    width: 30%;
    text-align: left;
}

button:active{
    background-color: rgb(31, 30, 30);
}

.votos-totais {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.tabela-apuracao{
    text-align: center;
}
